language: bash

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y python-software-properties
  - cd /tmp
  - wget http://apt.puppetlabs.com/puppetlabs-release-precise.deb
  - sudo dpkg -i puppetlabs-release-precise.deb
  - sudo apt-get update -qq
  - sudo apt-get install ruby
  - gem install puppet-lint
  - sudo apt-get install --no-install-recommends puppet git
  - sudo puppet module install puppetlabs-stdlib --version 4.15.0
  - sudo puppet module install puppetlabs-apt --version 1.5.1
  - sudo puppet module install puppetlabs-vcsrepo --version 1.3.2
  - sudo puppet module install saz-sudo --version 4.1.0
  - sudo puppet module install torrancew-account --version 0.1.0
  - cd /etc/puppet/modules
  - sudo git clone https://github.com/ffnord/ffnord-puppet-gateway ffnord
  - cd /home/travis/build/ffnord/ffnord-puppet-gateway

script:
    - bash tests/validate.sh manifests/
